ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
position: fixed;
width: 100%;
top: 0;
background-color: #333;
font-family: 'Oswald Bold', Oswald, sans-serif; 
z-index: 300;
}

li {
float: left;
}

li a {
display: block;
color: #ffffff;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #ddd;
	color: black;
}

.active {
	background-color: #000000;
  color: white;
}
.people {
	width: inherit;
	height: inherit;
}
body {
	
font-family: 'Oswald Bold', Oswald, sans-serif; 
}
/*Slideshow image and fade css and have text centered in the middle*/
.slideshow {
	width: 100%;
	opacity: 0.5;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 0.5}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 0.5}
}